<ion-view view-title="Welcome">

  <style>
    .background #main-img{
    display: table;
    height: 100%;
    width: 100%;
    position: absolute;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
   
    background-repeat: no-repeat;
}


@media only screen and (min-width: 0px)and (max-width: 360px)  {   
    #main-img{
    	background-image: url("img/splash.gif");
    } 
}

@media only screen and (min-width: 361px) {      
    #main-img{        
      background-image: url("img/introDesktop.png");
    } 
}

  </style>

  
<div class="background">    
 
  
  <ion-content scroll="false">

  <span id="main-img"/>
  
  <p style="text-align:center; margin: 5%"> Space reserved for awesome introduction</p>
	
  
  <div class="intro">
    
  <button class="introButton"  ng-click="toMap()">Get Started</button> 
  <br><br>

  <p style="color:white"> By students, for students </p>
   
  </div>
  

  </ion-content>
 
   
</div>
  
  
</ion-view>
