<ion-view view-title="About">





  <center><ion-content><br>
  <img style="max-width:80%;" src="img/MQULogo.png">
  <h3 style="color: maroon; ">Co-Hop and make a difference</h3>
  
 
  

  <p style="text-align:justify; margin: 5%"> Co-Hop makes it simple to arrange safe, friendly car pooling and ride sharing to and from the Macquarie Park area. 
     It helps you find people local to you who can easily fit into your travel times and the way you want to communicate.</p>
	 
	 
  
  <a href="https://itunes.apple.com/ca/app/co-hop-rideshare/id1164508588?mt=8">
  <img src="https://ridesharkdata.rideshark.com/Graphics/Icons/AppStore/ios-app-badge.png" alt="Download on the App Store"></a>
  
  </ion-content></center>
  
  
  
  
  
</ion-view>
