<ion-view view-title="Security">

  <center><ion-content scroll="false">
  

  <div class="securDescrip">
  <h4 > Security Services is highly visible presence in and around campus.</h4> 
  
  <h4> In case of emergency or too lazy too walk, call Emergency </h4>
  <br>

  <a class="button button-big status button-assertive" href="tel: 02 9850 9999">EMERGENCY</a>
  <br>
  <br>

  <h4> If you have any questions, call Campus Security Control Centre </h4>
  <a class="button button-big status button-assertive"  style="background-color:purple;"  href="tel:02 9850 7112">
  GENERAL INQUIRIES</a>
  
  </div>
  </ion-content></center>
  
  
  
  
  
</ion-view>
